-- MySQL dump 10.13  Distrib 8.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: test
-- ------------------------------------------------------
-- Server version	8.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `athletes`
--

DROP TABLE IF EXISTS `athletes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `athletes` (
  `Athlete_id` int NOT NULL AUTO_INCREMENT,
  `Athlete_name` varchar(255) NOT NULL,
  `Short_name` text,
  `Gender` text,
  `Birth_place` text,
  `Birth_country` text,
  `Country_code` varchar(10) DEFAULT NULL,
  `Discipline_id` int DEFAULT NULL,
  PRIMARY KEY (`Athlete_id`),
  KEY `Country_code` (`Country_code`),
  KEY `Discipline_id` (`Discipline_id`),
  CONSTRAINT `athletes_ibfk_1` FOREIGN KEY (`Country_code`) REFERENCES `country` (`Country_code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `athletes_ibfk_2` FOREIGN KEY (`Discipline_id`) REFERENCES `discipline` (`Discipline_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2895 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `athletes`
--

LOCK TABLES `athletes` WRITE;
/*!40000 ALTER TABLE `athletes` DISABLE KEYS */;
/*!40000 ALTER TABLE `athletes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coaches`
--

DROP TABLE IF EXISTS `coaches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coaches` (
  `Coach_id` int NOT NULL AUTO_INCREMENT,
  `Coach_name` varchar(255) NOT NULL,
  `Gender` text,
  `Birth_date` text,
  `Country_code` varchar(10) DEFAULT NULL,
  `Discipline_id` int DEFAULT NULL,
  `Function` text,
  PRIMARY KEY (`Coach_id`),
  KEY `Country_code` (`Country_code`),
  KEY `Discipline_id` (`Discipline_id`),
  CONSTRAINT `coaches_ibfk_1` FOREIGN KEY (`Country_code`) REFERENCES `country` (`Country_code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `coaches_ibfk_2` FOREIGN KEY (`Discipline_id`) REFERENCES `discipline` (`Discipline_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coaches`
--

LOCK TABLES `coaches` WRITE;
/*!40000 ALTER TABLE `coaches` DISABLE KEYS */;
/*!40000 ALTER TABLE `coaches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `country`
--

DROP TABLE IF EXISTS `country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `country` (
  `Rank` int DEFAULT NULL,
  `Gold` int DEFAULT NULL,
  `Silver` int DEFAULT NULL,
  `Bronze` int DEFAULT NULL,
  `Total` int DEFAULT NULL,
  `Country_code` varchar(10) NOT NULL,
  PRIMARY KEY (`Country_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country`
--

LOCK TABLES `country` WRITE;
/*!40000 ALTER TABLE `country` DISABLE KEYS */;
INSERT INTO `country` VALUES (18,1,2,1,4,'AUS'),(7,7,7,4,18,'AUT'),(21,1,0,1,2,'BEL'),(24,0,2,0,2,'BLR'),(11,4,8,14,26,'CAN'),(3,9,4,2,15,'CHN'),(21,1,0,1,2,'CZE'),(25,0,1,0,1,'ESP'),(27,0,0,1,1,'EST'),(16,2,2,4,8,'FIN'),(10,5,7,2,14,'FRA'),(19,1,1,0,2,'GBR'),(2,12,10,5,27,'GER'),(20,1,0,2,3,'HUN'),(13,2,7,8,17,'ITA'),(12,3,6,9,18,'JPN'),(14,2,5,2,9,'KOR'),(27,0,0,1,1,'LAT'),(6,8,5,4,17,'NED'),(1,16,8,13,37,'NOR'),(17,2,1,0,3,'NZL'),(27,0,0,1,1,'POL'),(9,6,12,14,32,'ROC'),(15,2,3,2,7,'SLO'),(8,7,2,5,14,'SUI'),(21,1,0,1,2,'SVK'),(5,8,5,5,18,'SWE'),(25,0,1,0,1,'UKR'),(4,8,10,7,25,'USA');
/*!40000 ALTER TABLE `country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `discipline`
--

DROP TABLE IF EXISTS `discipline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `discipline` (
  `Discipline_id` int NOT NULL AUTO_INCREMENT,
  `Discipline` varchar(50) DEFAULT NULL,
  `F` int DEFAULT NULL,
  `M` int DEFAULT NULL,
  `Total` int DEFAULT NULL,
  PRIMARY KEY (`Discipline_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discipline`
--

LOCK TABLES `discipline` WRITE;
/*!40000 ALTER TABLE `discipline` DISABLE KEYS */;
INSERT INTO `discipline` VALUES (1,'Alpine Skiing',153,157,310),(2,'Biathlon',106,107,213),(3,'Bobsleigh',46,119,165),(4,'Cross-Country Skiing',149,150,299),(5,'Curling',59,55,114),(6,'Figure Skating',74,74,148),(7,'Freestyle Skiing',127,141,268),(8,'Ice Hockey',236,311,547),(9,'Luge',35,71,106),(10,'Nordic Combined',0,59,59),(11,'Short Track Speed Skating',54,58,112),(12,'Skeleton',25,25,50),(13,'Ski Jumping',40,70,110),(14,'Snowboard',114,119,233),(15,'Speed Skating',77,87,164),(16,'Total',1295,1603,2898);
/*!40000 ALTER TABLE `discipline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `events_`
--

DROP TABLE IF EXISTS `events_`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `events_` (
  `Event_id` int NOT NULL AUTO_INCREMENT,
  `Location` text,
  `Event_stage` varchar(255) DEFAULT NULL,
  `Event_status` text,
  `Time` text,
  `Discipline_id` int DEFAULT NULL,
  PRIMARY KEY (`Event_id`),
  KEY `Discipline_id` (`Discipline_id`),
  CONSTRAINT `events__ibfk_1` FOREIGN KEY (`Discipline_id`) REFERENCES `discipline` (`Discipline_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=231 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `events_`
--

LOCK TABLES `events_` WRITE;
/*!40000 ALTER TABLE `events_` DISABLE KEYS */;
/*!40000 ALTER TABLE `events_` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medal`
--

DROP TABLE IF EXISTS `medal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medal` (
  `Medal_id` int NOT NULL AUTO_INCREMENT,
  `Medal_type` text,
  `Medal_code` int DEFAULT NULL,
  `Athlete_id` int DEFAULT NULL,
  `Athlete_sex` text,
  `Event_id` int DEFAULT NULL,
  `Country_code` varchar(10) DEFAULT NULL,
  `Medal_date` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`Medal_id`),
  KEY `Country_code` (`Country_code`),
  KEY `Athlete_id` (`Athlete_id`),
  KEY `Event_id` (`Event_id`),
  CONSTRAINT `medal_ibfk_1` FOREIGN KEY (`Country_code`) REFERENCES `country` (`Country_code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `medal_ibfk_2` FOREIGN KEY (`Athlete_id`) REFERENCES `athletes` (`Athlete_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `medal_ibfk_3` FOREIGN KEY (`Event_id`) REFERENCES `events_` (`Event_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=695 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medal`
--

LOCK TABLES `medal` WRITE;
/*!40000 ALTER TABLE `medal` DISABLE KEYS */;
/*!40000 ALTER TABLE `medal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tech_of`
--

DROP TABLE IF EXISTS `tech_of`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tech_of` (
  `Tech_id` int NOT NULL AUTO_INCREMENT,
  `Tech_name` varchar(255) NOT NULL,
  `Gender` varchar(255) DEFAULT NULL,
  `Birth_date` date DEFAULT NULL,
  `Country_code` varchar(10) DEFAULT NULL,
  `Discipline_id` int DEFAULT NULL,
  `Function` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Tech_id`),
  KEY `Country_code` (`Country_code`),
  KEY `Discipline_id` (`Discipline_id`),
  CONSTRAINT `tech_of_ibfk_1` FOREIGN KEY (`Country_code`) REFERENCES `country` (`Country_code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `tech_of_ibfk_2` FOREIGN KEY (`Discipline_id`) REFERENCES `discipline` (`Discipline_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tech_of`
--

LOCK TABLES `tech_of` WRITE;
/*!40000 ALTER TABLE `tech_of` DISABLE KEYS */;
/*!40000 ALTER TABLE `tech_of` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-12-08 20:47:12
